*{
    box-sizing: border-box;
}
@font-face {
    font-family: 'Poppins';
    src: url(Poppins-Regular.ttf);
}
body{
    padding: 0;
    margin: 0;
    background-color: white;
}
.div1 {
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 124px;
    background: linear-gradient(1.02deg, rgba(252, 11, 13, 0.2) -17.21%, rgba(74, 153, 211, 0) 75.91%), rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 16px rgba(75, 0, 129, 0.26);
    transform: rotate(-180deg);
}
.div11{
    justify-content: space-between;
    width: 100%;
    display: flex;
    padding-left: 238px;
    padding-right: 127px;
    align-items: baseline;
    transform: rotate(-180deg);;
}
.h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #4A99D3;
    
}
.div2{
    width: fit-content;
    height: 44px;
    display: flex;
    align-items: center;
    text-align: end;
}
.img1{
    width: 57px;
    height: 44px;
}
.h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #0F001A;
    margin-top: 20px;
}
.div3{
    display: flex;
    align-items: center;
    text-align: end;
    width: fit-content;
}
.img2{
    width: 57.31px;
    height: 44px;
}
.h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #0F001A;
}
.divs{
    display: flex;
    gap: 84px;
}
/* მეორე ნაწილი */
.div4{
    display: flex;
    background-color: #EAF6FF;
    width: auto;
    justify-content: space-around;
    margin-left: 73px;
    margin-right: 70PX;
    height: 364.78px;
}
.div41{
    width: 575px;
    height: 180px;
    margin-top: 63px;
    margin-left: 96px;
}
.h41{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 40px;
    text-align: center;
    color: #000000;
}
.div42{
    position: relative;
    width: 575px;
    height: 69px;
    border-radius: 20px;
    border: 2px solid #FC0B0D;
    display: flex;
    align-items: center;
}
.h42{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border: none;
    background-color: #EAF6FF;
    color: #004B84;
}
.img3{
    float: left;
    width: 66.09px;
    height: 30.21px;
}
.img4{
    float: right;
    position: absolute;
    justify-content: end;
    right: 20px;
}
.img5{
    width: 436px;
    height: 382px;
    margin-top: 57px;
}
.div5{
    width: 100%;
    height: 303px;
    margin-top: 100px;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    justify-content: space-between;
}
.div51{
    width: 626px;
    height: 303px;
    padding-left: 28px;
    background-color: #FAFAFA;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.div511{
    margin-top: 41px;
    height: 100%;
    width: 279px;
}
.h5{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 29.65px;
    line-height: 36px;
    text-align: center;
    align-items: center;
    color: #000000;
}
.h52{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 20.65px;
line-height: 25px;
display: flex;
margin-left: 20px;
align-items: center;

color: #000000;
}
.button5{
    width: 153px;
height: 48px;
background-color: #FC0B0D;
border-radius: 10px;
border: none;
margin-left: 58px;
display: flex;
justify-content: center;
align-items: center;
margin-top: 30px;
}
.h53{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20.65px;
    color: #000000;
}
.img6{
    width: 255px;
    height: 238px;
}
/* rows */
.div6{
    margin-top: 153px;
    display: flex;
    padding-left: 71px;
    padding-right: 83px;
    width: 100%;
    justify-content: space-between;
}
.div7{
    margin-top: 85px;
    display: flex;
    padding-left: 71px;
    padding-right: 83px;
    width: 100%;
    justify-content: space-between;
}
.div61{
    position: relative;
    width: 308px;
    height: 368px;
    background-color: #FFFFFF;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.25);
}
.img8{
    width: 260px;
    height: 222px;
    margin-left: 15px;
}
/* meza */
.h611{
    position: absolute;
    top: 261px;
    left: 19.66px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
color: #000000;
line-height: 28px;
}
.h612{
    position: absolute;
    top: 298px;
    left: 19.66px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
color: #EB3223;
line-height: 23px;
}
.h613{
    position: absolute;
    top: 332px;
    left: 20px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #000000;
opacity: 0.5;
}
.date{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
color: #000000;
opacity: 0.5;
position: absolute;
bottom: 0px;
right: 0px;
}
.img9{
    right: 10px;
    position: absolute;
    bottom: 42px;
}
.img10{
    width: 308px;
    height: 217px;
}
.image11{
    width: 305px;
    height: 204px;
    margin-top: -100px;
}
.img12{
    width: 303px;
    height: 271px;
}
.img13{
    width: 223px;
    height: 294px;
    margin-left: 53px;
}
.img14{
    width: 304px;
    height: 294px;
}





.div8{
    display: flex;
    width: 100%;
    height: 70px;
    padding-left: 69px;
    align-items: center;
    padding-right: 72px;
    margin-top: 82px;
}
.div81{
    width: 524px;
    height: 0px;
    border: 2px solid #E5E5E5;
    margin-top: 82px;
}
.div82{
    width: 524px;
    height: 0px;
    border: 2px solid #E5E5E5;
    margin-top: 82px;
}
.button8{
    display: flex;
    width: 221px;
    height: 70px;
    border-radius: 14.44px;
    background-color: transparent;
    border: 1px solid #FC0B0D;
    margin-top: 82px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.h81{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
    font-size: 29.8267px;
    line-height: 36px;
    display: flex;
    color: #000000;
}
.div9{
    margin-top: 114px;
    width: 100%;
    background-color: #EAF6FF;
    height: 404px;
    padding-left: 70px;
    display: flex;
    padding-top: 50px;
}
.h91{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;
color: #000000;
}
.h92{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #504A41;
}
.div921{
    margin-left: 179px;
    width: 252px;
    height: 182px;
    position: relative;
}
.h9211{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}
.h9212{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
margin-left: 41px;
color: #000000;
margin-top: 30px;
}
.img921{
    position: absolute;
    left: 0px;
    top: 58px;
    width: 20px;
    height: 20px;
}
.img922{
    position: absolute;
    left: 0px;
    top: 113px;
    width: 20px;
    height: 20px;
}
.img923{
    position: absolute;
    top: 163px;
    left: 0px;
}
.div93{
    margin-left: 79px;
    width: fit-content;
    height: fit-content;
}
.h931{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;
color: #000000;
}
.h932{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #000000;
margin-top: 43px;
}
.h933{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #000000;
}
.image{
    position: absolute;
    right: 0;
    margin-top: 40px;
    z-index: -1;
}